# Core functionality - changes here should be rare!
/src/app.py                   @OralbekUrusbekov
/src/backend/database.py      @OralbekUrusbekov
/src/backend/routers/auth.py  @OralbekUrusbekov

# The frontend will need refactored soon to be more object oriented.
/src/static/   @OralbekUrusbekov
